  
  <div class="row">
    <div class="col-md-10" >
      <div class="card mb-3" style="width: 18rem;">
        <img class="clickable" src="/assets/image/image1.jpg" class="card-img-top" alt="...">
        <div>
          <!-- <p><button (click)="onEditCategory(category)">image</button></p>
          <p *ngIf="editPhoto == true && currentProduct == p">
            <input type="file" (change)="onSelectedFile($event)">
            <button class="btn btn-success" (click)="uploadPhoto()">Upload</button>
            {{progress}}
          </p> -->
        </div>
        <div class="card-body">
          <h5 class="card-title">Name : <input formControlName="city" type="text" class="form-control" id="city"></h5>
          <!-- <p class="card-text"><strong>CategoryId : </strong>{{ category.categoryId }}</p> -->
          <p class="card-text"><strong>Description : <input formControlName="city" type="text" class="form-control" id="city"> </strong></p>
          <button type="button" class="btn btn-secondary" routerLink="/..">Cancel</button>
          <button class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
