
<div class="row my-3">
    <div class="col-md-10">
      <h2>List of categories</h2>
    </div>
    <div class="col-md-2 test-right">
      <button type="button" class="btn btn-info" routerLink="/categories/create" data-toggle="modal" data-target="#staticBackdrop">
        Create
      </button>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-md-3" *ngFor="let category of categories">
      <div class="card mb-3" style="width: 18rem;">
        <img src="/assets/image/image1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Name : {{category.name }}</h5>
          <!-- <p class="card-text"><strong>CategoryId : </strong>{{ category.categoryId }}</p> -->
          <p class="card-text"><strong>Photo : </strong>{{ category.photo }}</p>
          <p class="card-text"><strong>Description : </strong>{{ category.description }}</p>
          <button class="btn btn-primary m-2">View</button>
          <button class="btn btn-primary m-2">Edit</button>
          <button class="btn btn-dark m-2">Delete</button>
        </div>
      </div>
    </div>
  </div>
  
  