<div class="row my-3">
  <div class="col-md-10">
    <h2>Categories</h2>
  </div>
  <div class="col-md-2 test-right">
    <button type="button" class="btn btn-info" routerLink="/categories/create">
      Create
    </button>
  </div>
</div>


<!-- <div class="row">
  <div class="col-md-3" *ngFor="let category of categories">
    <div class="card mb-3" style="width: 18rem;">
      <img src="/assets/image/image1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Name : {{category.name }}</h5>
        <p class="card-text"><strong>Photo : </strong>{{ category.photo }}</p>
        <p class="card-text"><strong>Description : </strong>{{ category.description }}</p>
        <button class="btn btn-primary m-2">View</button>
        <button class="btn btn-primary m-2">Edit</button>
        <button class="btn btn-dark m-2">Delete</button>
      </div>
    </div>
  </div>
</div> -->

<div class="container ">
  <div class="row">
    <div class="col-md-4 col-sm-6" *ngFor="let category of categories">
      <div class="card mb-3"><a class="card-img-tiles" href="#" data-abc="true">
          <div class="inner">
            <div class="main-img">
              <img src="/assets/image/categories/{{ category.photo }}" alt="Category">
            </div>
            <div class="thumblist">
              <img src="/assets/image/categories/{{ category.photo }}" alt="Category">
              <img src="/assets/image/categories/{{ category.photo }}" alt="Category">
            </div>
          </div>
        </a>
        <div class="card-body text-center">
          <h4 class="card-title">{{category.name}}</h4>
          <p class="text-muted">{{ category.description }}</p>
          <a class="btn btn-outline-primary btn-sm" routerLink="/products" data-abc="true">View Products</a>
          <!-- <button class="btn btn-primary m-2">View</button>
          <button class="btn btn-primary m-2">Edit</button>
          <button class="btn btn-dark m-2">Delete</button> -->
        </div>
      </div>
    </div>
  </div>
